.contend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 162px;
    position: relative;
    z-index: 1;
    &__left {
        width: 445px;
    }
    &__name {
        color: #36536b;
        font-family: DM Serif Display;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 116.667% */
        letter-spacing: -0.369px;
    }
    &__text {
        color: #6c8294;
        margin-top: 25px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
    }
    &__rigth {
        display: block;
    }
    &__img {
        width: 257.649px;
        height: 498.861px;
    }
}

@media only screen and (max-width: 965px) {
    .contend {
        flex-direction: column-reverse;
        margin: 10px 0;
        &__right {
            display: flex;
            margin: 0 auto;
            text-align: center;
            align-items: center;
        }
        &__right img {
            margin-top: 60px;
            max-width: 600px;
            max-height: 550px;
        }
        &__left {
            // margin-top: 0px;
            max-width: 750px;
            text-align: center;
        }

        &__name {
            font-size: 42px;
            line-height: 30px;
        }
        &__text {
            font-size: 15px;
            line-height: 20px;
        }
    }
}
@media only screen and (max-width: 650px) {
    .contend {
        flex-direction: column-reverse;
        margin: 10px 0;
        &__right {
            display: flex;
            margin: 0 auto;
            text-align: center;
            align-items: center;
        }
        &__right img {
            margin-top: 60px;
            max-width: 200px;
            max-height: 350px;
        }
        &__left {
            margin-top: 10px;
            max-width: 350px;
            text-align: center;
        }

        &__name {
            font-size: 32px;
            line-height: 28px;
        }
        &__text {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
