.header {
    max-width: 1110px;
    padding: 40px 0;
    position: relative;
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__list {
        display: flex;
        gap: 40px;
    }
    &__link {
        color: #36536b;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.7;
    }
}
@media only screen and (max-width: 650px) {
    .header {
        &__list {
            display: none;
        }
    }
}
@media only screen and (max-width: 900px) {
    .background{
        position: relative;
    }
    .background::before {
        display: none;
    }
    .background::after {
        content: url(../img/svj/header-b-t.svg);
        position: absolute;
        z-index: 2;
        right: 1;
    }
}
.background::before {
    content: url(../img/svj/header-before.svg);
    position: absolute;
    right: 0;
}
